<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div class="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information:</p>
       <p>
          <strong>Departure Point</strong>: {{place1}} <br>
          <strong>Latitude</strong>: {{lat1}} <br>
          <strong>Longitude</strong>: {{lon1}} <br>
          <strong>Destination</strong>: {{place2}} <br>
          <strong>Latitude</strong>: {{lat2}} <br>
          <strong>Longitude</strong>: {{lon2}} <br>
          <strong>Categories</strong>: {{cat1}} {{cat2}} {{cat3}} {{cat4}} <br>

          </p>
       <form method="post" action="{{ url_for('first_map') }}">
        <input type="submit">
       </form>


     </div>
   </div>
 </body>
</html>